/* #d1{
    width: 4vh;
    border: 2px solid black;
} */

@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2&display=swap');
*{
    overflow: hidden auto;
}

ul {
    list-style-type: none;
    margin: 2px;
    padding:2px ;
    overflow: hidden;
    
  }
  
  li {
    float: right;
  }
  
  li a {
    font-size: 20px;
    font-weight:200 ;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display:grid;
    color: rgb(70, 35, 35);
    text-align: center;
    padding: 15px;
    margin-left: 40px;
    text-decoration: underline;
  }
  
  li a:hover {
    opacity: 0.6;
    border-radius: 10px;
    color: white;
    background-color:rgb(11, 12, 11);
  }


body{
    background-image: url(../../staticfiles/images/bg.jpeg);
}
#d1 {
  overflow: hidden;
  
    /* font-size: 9px; */
    border-radius: 45px;
    box-shadow:  19px 20px 10px #2a2c5c;
    position: relative;
    right: -310px;
    top: 32px;
    float: left;
    width: 300px;
    margin: auto;
    height: 300px;
}


#d2{
    text-shadow:  10px 10px 10px #2a2c5c;
    position: relative;
    color: aqua;
    left: 492px;
    font-family: 'Baloo Bhaina 2', sans-serif;
    display: inline;
    font-size: 50px;
    width: 50vh;
    margin: auto

}
#d3{
    
    position: relative;
    color: white;
    font-size: larger;
    left: 816px;
    font-family: 'Baloo Bhaina 2', sans-serif;
    display: inline;
    width: 50vh;
    margin: auto;
    top: -109px;

}

#d_head{

    box-shadow:inset 11px 11px 14px #2a2c5c;;
box-sizing: border-box;
background-image: url(https://img.freepik.com/free-vector/gradient-blue-dynamic-lines-background_52683-67204.jpg);
background-size: cover;  
background-repeat: no-repeat;
padding: 11px;
    margin: 10px;
    margin-top: 44px;
    /* border: 2px solid rgb(137, 93, 226);
    outline: 5px solid rgb(72, 12, 201); */
    outline-offset: 3px;
    border-radius: 30px;
}
