<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDF-GPT</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="d1">
        <img src="Free_Sample_By_Wix.jpg" alt="">
    </div>
    <div id="d2">
    <h1>PDF-GPT  </h1>
    <h2>-Why read when you can ask!</h2>
        
    <div id="d3">
        
    </div>
        <button id="b1">Upload File Here</button>
    </div>
    
</body>
</html>