{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDF-GPT</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">

    
</head>
<body>
    <ul>
        <li><a  href="#contact">Contact</a></li>
        <li><a href="#about">About</a></li>
        <!-- <li><a href="#news">News</a></li> -->
        <li><a href="#home">Home</a></li>
      </ul>
      
      <div id="d_head">
    <div id="d1" class="circle">
        <img src="../../staticfiles/images/logo.jpg" alt="Logo">
    </div>
    <div id="d2">
    <h1 >PDF-GPT  </h1>
</div><div id="d3">    
    <h2>-Why read when you can ask!</h2>
        
</div></div><br><br>

<div>
   
</div>

<br><br>
    <div style="width: 800px; margin: auto;">
        
    
        <button id="b1">Upload File Here</button>
    </div>


    <script>
        document.getElementById("displayButton").addEventListener("click", function () {
            const input = document.getElementById("pdfInput");
            const pdfContainer = document.getElementById("pdfContainer");
            const pdfEmbed = document.getElementById("pdfEmbed");

            if (input.files.length > 0) {
                const file = input.files[0];
                const objectURL = URL.createObjectURL(file);

                // Display the PDF
                pdfContainer.style.display = "block";
                pdfEmbed.setAttribute("src", objectURL);
        
            } else {
                alert("Please select a PDF file first.");
            }
        });
        </script>
        </div>
<br><br>
<form class="message-form">
    {%csrf_token%}
    <div class="input-group">
        <input type="text" class="form-control message-input" placeholder="Type your Question">
<div class="input-group-append">
    <button type="submit" class="btn btn-primary btn-send">Submit</button>
    </div>
    </div>
    </form>
    </div>
<script>
    
const messagesList = document.querySelector('.messages-list');
const messageForm = document.querySelector('.message-form');
const messageInput = document.querySelector('.message-input');

messageForm.addEventListener('submit',(event) =>{
    event.preventDefault();
    const message = messageInput.value.trim();
    if (message.length==0){
        return;
    }
})
</script>
</body>
</html>