<!-- {% load static %} -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDF-GPT</title>
    <link rel="stylesheet" href="../../staticfiles/css/main.css">

    
</head>
<body>
    <ul>
        <li><a href="#contact">Contact</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#news">News</a></li>
        <li><a href="#home">Home</a></li>
      </ul>
    <div id="d1">
        <img src="../../staticfiles/images/logo.jpg" alt="Logo">
    </div>
    <div id="d2">
    <h1 >PDF-GPT  </h1>
</div><div id="d3">    
    <h2>-Why read when you can ask!</h2>
        
</div>
<br><br>

    <div style="width: 50vh; margin: auto;" id="d3">
        
    <br>
        <button id="b1">Upload File Here</button>
    </div>
    
</body>
</html>